@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Environment.OSVersion</h1>
    <p><strog>Directory</strog> @Environment.CurrentDirectory</p>
    <p><strog>UserName</strog> @Environment.UserName</p>
    <p><strog>Machine Name</strog> @Environment.MachineName</p>
    <p><strog>Processor Count</strog> @Environment.ProcessorCount</p>
    <p><strog>Version</strog> @Environment.Version</p>
    <p><strog>Working set</strog> @Environment.WorkingSet</p>
</div>
