@using VisitACity.Common
@using VisitACity.Web.ViewModels.Home
@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page, page" + Model.PageNumber;
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h2>
        Create Your Personal Travel Guide
        <a asp-controller="Plans" asp-action="Create">Here</a>
    </h2>
    <h3 style="margin-top:50px" ; class="display-12">Where are you travelling to?</h3>
</div>
<br>
<form method="Get" asp-route-id = "1" class="col-md-6 offset-md-3">
    <div class="form-group col-md-6 offset-md-3">
        <input name="cityName" class="form-control" />
    </div>
    <fieldset class="col-md-6 offset-md-4">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioOption" id="exampleRadios1" value="Attractions" checked>
            <label class="form-check-label" for="exampleRadios1">
                Attractions
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioOption" id="exampleRadios2" value="Restaurants">
            <label class="form-check-label" for="exampleRadios2">
                Restaurants
            </label>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary col-md-3 offset-md-4">Search</button>
</form>


<hr>
<cache expires-after="@TimeSpan.FromHours(8)">
    <div class="h-10 d-inline-block, container" style="position:absolute; background-color: whitesmoke">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="feature-icon">
                    <i class="fa fa-city"></i> <span>@Model.CitiesCount Cities</span>
                </div>
            </div>
            <div class="col-sm">
                <div class="feature-icon">
                    <i class="fa fa-eye"></i> <span>@Model.AttractionsCount Attractions</span>
                </div>
            </div>
            <div class="col-sm">
                <div class="feature-icon">
                    <i class="fa fa-utensils"></i> <span>@Model.RestaurantCount Restaurants</span>
                </div>
            </div>
        </div>
    </div>
</cache>
<br>
<p></p>
<br />
@if (@Model.IsAttraction)
{
    @if (@Model.EventsCount == 0)
    {
        <h1 class="text-center">No attractions</h1>
    }
    else
    {
        <div class="card-group m">
            @foreach (var attraction in this.Model.List)
            {
                <partial name="~/Views/Attractions/_AttractionCard.cshtml" , model="attraction" />
            }

        </div>
        <hr />
    }
}
else
{
    @if (@Model.EventsCount == 0)
    {
        <h1 class="text-center">No restaurants</h1>
    }
    else
    {
        <div class="card-group m">
            @foreach (var restaurant in this.Model.List)
            {
                <partial name="~/Views/Restaurants/_RestaurantCard.cshtml" , model="restaurant" />
            }

        </div>
        <hr />
    }
}
<partial name="~/Views/Shared/_PagingPartial.cshtml" model="@Model" />
