@using VisitACity.Web.ViewModels.Reviews
@model ReviewAttractionViewModel

<div class="media; media-body" style="width: 100%; border: 1px, solid black">
    <h5 class="mt-0">@Model.CreatedOn.ToShortDateString() by @ViewBag.UserFirstName</h5>
    <div class="media-body">@Model.Content</div>
    <div class="ratings">
        <div class="stars">
            @for (int i = 0; i < Model.Rating; i++)
            {
                <i class="fa fa-star"></i>
            }

        </div>

    </div>
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <button class="btn btn-danger" onclick="document.getElementById('id01').style.display='block'">Delete</button>
    }
</div>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Delete comment</h1>
      <p>Are you sure you want to delete this comment?</p>

      <div class="clearfix">
         <a class="btn btn-outline-danger" asp-area="" asp-controller="Attractions" asp-action="Details" asp-route-attractionId="@Model.AttractionId" asp-route-reviewId="@Model.Id" class="btn btn-primary mb-2">No</a>
         <a class="btn btn-outline-success" asp-area="Administration" asp-controller="Reviews" asp-action="Delete" asp-route-attractionId="@Model.AttractionId" asp-route-reviewId="@Model.Id" class="btn btn-primary mb-2">Yes</a>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>