@using VisitACity.Web.ViewModels.Reviews
@model ReviewAttractionViewModel

<table style="width: 100%; border: 1px, solid black">
    <tr>
        <td>@Model.CreatedOn.ToShortDateString()</td>
        
    </tr>
    <tr>
        <td>@Model.UserUserName</td>
        
    </tr>
        <tr>
        <td>@Model.Content</td>
    </tr>
    <tr>
        <td>
             @for (int i = 0; i < @Model.Rating; i++)
        {
             <div class="feature-icon">
              <i class="fa fa-star"></i>
            </div>
        }
               @for (int i = @Model.Rating; i <5 ; i++)
        {
             <div class="feature-icon">
              <i class="fa fa-star-half"></i>
            </div>
        }
        </td>
    </tr>
</table>
