@using VisitACity.Web.ViewModels.Attractions
@model AttractionViewModel
@{
    var url = $"https://visitacity.blob.core.windows.net/images/{Model.Image.Id}.{Model.Image.Extension}";
}
<div class="media col-md-4">
    <a asp-controller="Attraction" asp-action="Details" asp-route-id="@Model.Id">
        <img class="mr-3 img-responsive" width="400" height="300" src=@url alt="Card image cap" />
    </a>
    <div class="card-body">
        <h4 class="card-title text-center">@Model.Name</h4>
        <p></p>
        <h5 class="card-text text-center">City: @Model.CityName</h5>
        <div class="card-text feature-icon">
            <i class="fa fa-dollar-sign"></i> <span>Price: @Model.Price</span>
        </div>
        <div class="card-text feature-icon">
            <i class="fa fa-search-location"></i> <span>Address: @Model.Address</span>
        </div>
        <p></p>

    </div>
    <div class="card-footer">
        <div class="card-text feature-icon">
            <i class="fa fa-eye"></i> 
            @if (@Model.Reviews == 1)
            {
                <span>Revied by 1 adventurer</span>
            }
            else
            {
                    <span>Revied by @Model.Reviews adventurers</span>
            }
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-info" asp-controller="Attraction" asp-action="Details" asp-route-id="@Model.Id">
            <div class="feature-icon">
                <i class="fa fa-info-circle"></i> <span>Details</span>
            </div>
        </a>
    </div>
    <p></p>
</div>
