@using VisitACity.Web.ViewModels.Restaurants
@model RestaurantViewModel
@{
    this.ViewData["Title"] = "Details ";
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}
<div class="card mb-3">
    <a href="@Model.Url">
        <img width="300px" height="500px" src="@Model.ImageUrl" class="card-img-top" alt="Restaurant img">
    </a>
    <div class="card-body">
        <h5 class="card-title text-center">@Model.Name</h5>
        <h5 class="card-title text-center">Address: @Model.Address</h5>
        <p class="card-text text-center">Phone: @Model.PhoneNumber</p>
        <p class="card-text text-center">
            <div class="ratings text-center">

                <span class="product-rating">@Model.Rating.ToString("f1")</span><span>/5</span>
                <div class="stars">
                    @for (int i = 0; i < Math.Round(Model.Rating); i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </div>
            </div>
        </p>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-warning" asp-controller="Review" asp-action="Create" asp-route-id="@Model.Id">
        <div class="feature-icon">
            <i class="fa fa-comment"></i> <span>Comment</span>
        </div>
    </a>
    <a class="btn btn-success" asp-controller="Plan" asp-action="AddRestaurantToPlan" asp-route-restaurantId="@Model.Id">
        <div class="feature-icon">
            <i class="fa fa-bus"></i> <span>Add to plan</span>
        </div>
    </a>
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <a class="btn btn-outline-dark" asp-area="Administration" asp-controller="Restaurant" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-outline-danger delete" data-id="@Model.Id" data-area="Administration" data-controller="Restaurant" data-action="Delete" data-body-message="Are you sure you want to delete this attraction?" data-redirect-url="/Home/Index/1?cityName=@Model.CityName&radioOption=Restaurants">
            Delete
        </a>
    }
</div>
<p></p>
</div>

<h2 class="text-center">Comments:</h2>
@if (Model.Reviews.Count() == 0)
{
    <div class="text-center">
        No comments yet. Be the first to comment this restaurant
        <a asp-controller="Review" asp-action="Create" asp-route-id="@Model.Id">Here</a>
    </div>
    <br>
}
else
{
    @foreach (var review in Model.Reviews.OrderByDescending(x => x.CreatedOn))
    {
        <partial name="~/Views/Review/_PartialReview.cshtml" , model="review" />
        <br>
    }
}